@****************************************
* (currentPage: com.avaje.ebean.Page[Device], currentSortBy: String, currentOrder: String, currentFilter: String)
****************************************@
@(currentPage: com.avaje.ebean.PagedList[Device], currentSortBy: String, currentOrder: String, currentFilter: String)


@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Devices.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@head = {


<!--框架必需start-->
<link href="/assets/libs/skins/modernBlue/style.css" rel="stylesheet" type="text/css" id="theme"
      themecolor="modernBlue" positiontarget="positionContent" selinputheight="28"
      selbuttonwidth="29" defaultselwidth="160" filebtnwidth="60" defaultfileinputwidth="222"
      defaultgridheaderheight="32" defaultgridrowheight="32" defaultfontsize="14" defaultpageselwidth="55"
      defaultfilteritemheight="28" defaultfontfamily="微软雅黑" />
<link href="/assets/skin/style.css" rel="stylesheet" type="text/css" id="skin" skinpath="/assets/skin/" />


<script type="text/javascript" src="@routes.Assets.at("libs/js/jquery.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("libs/js/language/cn.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("libs/js/framework.js")"></script>

       <link href="@routes.Assets.at("libs/css/framework/reset.css")" rel="stylesheet" type="text/css" />
 <link href="@routes.Assets.at("libs/css/framework/basic.css")" rel="stylesheet" type="text/css" />
   <link href="@routes.Assets.at("libs/css/framework/position.css")" rel="stylesheet" type="text/css" />
   <link href="@routes.Assets.at("libs/css/framework/form.css")" rel="stylesheet" type="text/css" />
   <link href="@routes.Assets.at("libs/css/framework/icon.css")" rel="stylesheet" type="text/css" />
<link href="@routes.Assets.at("libs/css/framework/code.css")" rel="stylesheet" type="text/css" />

<link href="@routes.Assets.at("libs/skins/blue/style.css")" rel="stylesheet" type="text/css" />

       
   <link rel="stylesheet" type="text/css" id="skin" prepath="" scrollery="true" />
    <link rel="stylesheet" type="text/css" id="customSkin" />
<!--框架必需end-->

<!-- 树型抽屉导航start-->
<script type="text/javascript" src="@routes.Assets.at("libs/js/tree/ztree/ztree.js")"></script>
<link href="@routes.Assets.at("libs/js/tree/ztree/ztree.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@routes.Assets.at("libs/js/nav/treeAccordion_normal.js")"></script>
<!-- 树型抽屉导航end -->
<style>
    .ztree li span.zbutton.diy01_ico_open, .ztree li span.zbutton.diy01_ico_close
    {
    width: 24px !important;
    height: 24px !important;
    padding-top: 0;
    }
</style>

<!-- 垂直选项卡start-->
<script type="text/javascript" src="@routes.Assets.at("libs/js/nav/verticalTabModern.js")"></script>
<!-- 垂直选项卡end-->
<!-- 垂直导航start-->
<script type="text/javascript" src="@routes.Assets.at("libs/js/nav/treeAccordion_tabv_addtab.js")"></script>
<!-- 垂直导航end-->

<script type="text/javascript">

        function getTreeData(idx) {


            var treeData;
            $.ajax({
                url: '/menu',
                //'http://121.40.195.173:88/Handler/Menu.ashx?idx=0&RoleId=3094&Command=GetTree&_=1451751701474',
                dataType: 'json',
                async: false,

                success: function (result) {
                    treeData = result;
                },
                error: function (result) {

                }
            });




            return treeData;
        }







    </script>

<style>
    body
    {
    font-family: 'microsoft yahei';
    }
    a
    {
    behavior: url(libs/js/method/focus.htc);
    }
</style>



}
@navbar = {

<div class="navbar-collapse collapse" role="navigation">
    <ul class="nav navbar-nav">

        <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown">设备运行管理<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">使用前质检记录</a></li>
                <li><a href="#">保养计划制定</a></li>
                <li><a href="#">保养到期工作提醒</a></li>
                <li><a href="#">保养实施记录</a></li>
                <li class="divider"></li>
                <li><a href="#">设备故障登记</a></li>
                <li><a href="#">维修工作提醒平台</a></li>
                <li><a href="#">设备维修记录管理</a></li>
                <li><a href="#">设备故障率分析</a></li>
                <li><a href="#">单机设备故障率排名分析</a></li>
                <li><a href="#">科室维修费用对比图</a></li>
                <li class="divider"></li>
                <li><a href="#">计量校准记录</a></li>

            </ul>
        </li>



    </ul>
    <ul class="nav navbar-nav navbar-right hidden-sm">
        <li><a href="https://accounts.google.com/ServiceLogin?hl=zh-CN&passive=true&continue=https://www.google.com.hk/" >登陆</a></li>

    </ul>



</div>
}


@content = {
    
    <h1 id="homeTitle">设备生命周期管理-维修维护记录</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }


    <div id="actions">
        
        <form action="@link(0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by device name...">
            <input type="submit" id="searchsubmit" value="过滤" class="btn primary">
        </form>
        
        <a class="btn success" id="add" href="@routes.Devices.create()">Add a new device</a>
        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {


        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    @header("name", "设备名称")
                    @header("manu", "厂家")
                    @header("hudi", "院内编码")
                    @header("jcks", "使用科室")
                    @header("price", "维修日期")
                    @header("nprice", "服务商")
                    @header("nprice", "维修单号")

                    @header("catalog", "维修工时")
                    @header("catalog", "维修金额")




                </tr>
            </thead>
            <tbody>

                @for(devices <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.Devices.edit(devices.id)">@devices.name</a></td>
                        <td></td>
                        <td></td>
                        <td>@devices.jcks</td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td></td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
@head
</head>

<body leftframe="true">



    <div>
        <ul id="treeDemo" class="ztree ztree_accordition">
        </ul>
    </div>

    


</body>
</html>


            