@(currentPage: com.avaje.ebean.PagedList[CheckFee], currentSortBy: String, currentOrder: String, currentFilter: String,zxrq: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String,Filter:String,zxrq:String) = @{

var sortBy = currentSortBy
var order = currentOrder

if(newSortBy != null) {
sortBy = newSortBy
if(currentSortBy == newSortBy) {
if(currentOrder == "asc") {
order = "desc"
} else {
order = "asc"
}
} else {
order = "asc"
}
}

// Generate the link
routes.CheckFees.fee(newPage, sortBy, order, Filter,zxrq)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
<th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
<a href="@link(0, key,null,zxrq)">@title</a>
</th>
}
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/db.css")">

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>

@main ()(){


<h1 id="homeTitle">@Messages("checks.list.title", currentPage.getTotalRowCount)</h1>

@if(flash.containsKey("success")) {
<div class="alert-message warning">
    <strong>Done!</strong> @flash.get("success")
</div>
}

<div id="actions">

    <form action="@link(0, "sbmc",null,zxrq)" method="GET">
    <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by device name...">
    <input type="submit" id="searchsubmit" value="过滤" class="btn primary">
    </form>


    <a href="@link(0, currentSortBy,currentFilter,"2015-11-01")" class="btn">今天</a>
    <a href="@link(0, currentSortBy,currentFilter,"2015-10-01")" class="btn">本周</a>
    <a href="@link(0, currentSortBy,currentFilter,"2015-09-01")" class="btn">本月</a>

    <a href="http://www.flotcharts.org/flot/examples/categories/index.html" class="btn">环比</a>
    <a href="http://www.highcharts.com/demo/" class="btn">同比</a>

</div>






@if(currentPage.getTotalRowCount == 0) {

<div class="well">
    <em>Nothing to display</em>
</div>

} else {

<table class="computers zebra-striped">
    <thead>
    <tr>
        @header("sbmc", "设备")
        @header("brxz", "患者性质")
        @header("sybz", "患者来源")

        @header("brxm", "患者姓名")

        @header("ksmc", "开单科室")

        @header("jcrq", "预约日期")
        @header("jcks", "检查科室")
        @header("zxrq", "执行日期")

        @header("doctor.name", "医师")

        @header("fymc", "项目名称")
        @header("fymc", "收费金额")


    </tr>
    </thead>
    <tbody>

    @for(checks <- currentPage.getList) {
    <tr>
        <td><a href="@routes.CheckFees.use(checks.cl.dev)">@checks.cl.sbmc</a></td>
        <td>@checks.cl.brxz</td>
        <td>@checks.cl.sybz</td>
        <td>@checks.cl.brxm</td>

        <td>@checks.cl.ksmc</td>
        <td>
            @if(checks.cl.jcrq == null) {
            <em>-</em>
            } else {
            @checks.cl.jcrq.format("MM-dd ")
            }
        </td>
        <td>@checks.cl.jcks</td>
        <td>
            @if(checks.cl.zxrq == null) {
            <em>-</em>
            } else {
            @checks.cl.zxrq.format("MM-dd ")
            }
        </td>

        <td>
            @if(checks.cl.doctor == null) {
            <em>-</em>
            } else {
            @checks.cl.doctor.name
            }
        </td>
        <td> @checks.cl.fymc</td>
        <td> @checks.totalAmount</td>

    </tr>
    }

    </tbody>
</table>

<div id="pagination" class="pagination">
    <ul>
        @if(currentPage.hasPrev) {
        <li class="prev">
            <a href="@link(currentPage.getPageIndex - 1, null,currentFilter,zxrq)">&larr; Previous</a>
        </li>
        } else {
        <li class="prev disabled">
            <a>&larr; Previous</a>
        </li>
        }
        <li class="current">
            <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
        </li>
        @if(currentPage.hasNext) {
        <li class="next">
            <a href="@link(currentPage.getPageIndex + 1, null,currentFilter,zxrq)">Next &rarr;</a>
        </li>
        } else {
        <li class="next disabled">
            <a>Next &rarr;</a>
        </li>
        }
    </ul>
</div>

}

}  //main
