@(head: Html)(navbar: Html)(content: Html)


<html lang="zh-CN">
    <head>
    <meta charset="utf-8">
        <title>同仁医院 &mdash; 医疗器械设备管理系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="设备绩效,医疗设备,医院,医疗器械">
    <meta name="author" content="欣云医疗">
    <meta name="robots" content="index,follow">
        <meta name="application-name" content="设备绩效">

        <!-- Site CSS -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" type="text/css" media="screen" >
        <link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet" type="text/css" media="screen" >
        <link href="@routes.Assets.at("stylesheets/site.min.css?v5")" rel="stylesheet" type="text/css" media="screen" >

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("js/jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="@routes.Assets.at("js/html5shiv.min.js")></script>
        <script src="@routes.Assets.at("js/respond.min.js")></script>
        <![endif]-->
 <!-- Fav and touch icons -->
@head
    </head>
    <body >
     <div class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm" href="@routes.Application.index()" >医院设备管理系统</a>
            </div>
@navbar

        </div>
  </div>
       

     <section id="main">    
      <div class="container-fluid">
        
            @content
         
       </div>
  </section>

      
          <footer class="footer ">
         <div class="container">
             <div class="row footer-top">
                 <div class="col-sm-6 col-lg-6">
                     <h4>
                         &copy; 欣云医疗公司 2015
                     </h4>
                     <p>专注提供医院设备管理解决方案</p>
                 </div>
                 <div class="col-sm-6  col-lg-5 col-lg-offset-1">
                     <div class="row about">
                         <div class="col-xs-3">
                             <h4>关于</h4>
                             <ul class="list-unstyled">
                                 <li><a href="/about/">关于我们</a></li>

                                 <li><a href="/links/">友情链接</a></li>

                             </ul>
                         </div>
                         <div class="col-xs-3">
                             <h4>联系方式</h4>
                             <ul class="list-unstyled">
                                 <li><a href="/" title="官方微博" target="_blank">新浪微博</a></li>
                                 <li><a href="mailto:admin">电子邮件</a></li>
                             </ul>
                         </div>

                     </div>

                 </div>
             </div>
             <hr/>
             <div class="row footer-bottom">
                 <ul class="list-inline text-center">
                     <li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008号</a></li><li>京公网安备110108</li>
                 </ul>
             </div>
        </div>
     </footer>



   
     <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    
 

     
    </body>
</html>


