@(currentPage: List[OrderItem])

@header(key:String, title:String) = {
<th class="headerSortDown">
    @title
</th>
}


@navbar = {

<div class="navbar-collapse collapse" role="navigation">
    <ul class="nav navbar-nav">

        <li class="dropdown">
            <a href="http://101.200.82.40/" class="dropdown-toggle" data-toggle="dropdown">采购管理<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/products">产品管理</a></li>

                <li><a href="/purchases">采购申请</a></li>
                <li><a href="#">审批流程</a></li>
                <li><a href="#">合同管理</a></li>
                <li><a href="#">供方资质</a></li>

                <li><a href="#">招标管理</li>


            </ul>
        </li>




    </ul>
    <ul class="nav navbar-nav navbar-right hidden-sm">
        <li><a href="https://accounts.google.com/ServiceLogin?hl=zh-CN&passive=true&continue=https://www.google.com.hk/" >登陆</a></li>

    </ul>



</div>
}


@content = {


<table class="table table-bordered table-striped">
    <thead>
    <tr>
        @header("name", "通用名")
        @header("cname", "商品名")
        @header("manufacturer", "厂家")
        @header("model", "规格型号")
        @header("unit", "单位")
        @header("catalog", "类型")
        @header("regno","注册证号")
        @header("distribute","经销商")
        @header("warranty","保修期")

        @header("memo","备注")

        @header("updated","报价")
        @header("icon", "数量")
        @header("icon", "小计")
    </tr>
    </thead>
    <tbody>
    @for(item <- currentPage) {

    <tr>
        <td>@item.product.name</td>
        <td>@item.product.cname</td>
        <td>@item.product.manufacturer</td>
        <td>@item.product.model</td>
        <td>@item.product.unit</td>
        <td>@item.product.catalog</td>
        <td>@item.product.regno</td>
        <td>@item.product.distribute</td>
        <td>
            @if(item.product.warranty == null) {
            <em>-</em>
            } else {
            @item.product.warranty.format("yy-MM-dd")
            }

        </td>

        <td>@item.product.memo</td>

        <td>@item.price</td>


        <td>@item.quantity</td>
        <td></td>
    </tr>
    }
    </tbody>
</table>




}


@main(null)(navbar)(content)